.DS_Store
node_modules/
.next/
dist/
build/

.env
.env.local
app/web/.env.local
prisma/.env

*.crt
*.key
*.pem
*.ts.net.*
*tailscale*
*taileb*

.data/
.cache/
storage/uploads/
storage/exports/
storage/security/
storage/backups/
storage/tailscale/
storage/ocr/
storage/ocr-dev/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
